<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Logo Me</title>
  <style>
    body {
      margin: 0; padding: 0; height: 100vh; display: flex; justify-content: center; align-items: center;
    }
  </style>
</head>
<body>
  <img src="/api" alt="Generated Logo">
</body>
</html>